.sidebar_header {
    display: flex;
    padding: 3.2rem 2.2rem;
    height: 8.8rem;
    border-bottom: 1px solid var(--grey);
    font-size: 2rem;
    font-weight: 600;
    color: var(--dark-text);
}

.sidebar_text {
    margin-left: 0.9rem;
}